<div>
	<h4><%= link_to "Trend Charts", {:controller => 'devices', :action => 'index'} %></h4>
		<div>
			<!-- locations -->	
			<%	unless @date_filter.nil? %>
				<% @date_filter.metrics.each do |metric| %>
					<% if @date_filter.metric == metric.downcase %>
						<%= link_to metric, { :controller => 'devices', :action => 'chart', 
																	:mertic => metric.downcase },
																	:style => "color: #009;"
																	%>
						<% else %>
						<%= link_to metric, { :controller => 'devices', :action => 'chart', :mertic => metric.downcase }	%>																
					<% end %>
					<br/>
					<br/>
				<% end %>
			<% end %>
		</div>
</div>