<h1>Editing tolerance</h1>

<% form_for(@tolerance) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @tolerance %> |
<%= link_to 'Back', tolerances_path %>