<h1>Listing tolerances</h1>

<table>
  <tr>
  </tr>

<% @tolerances.each do |tolerance| %>
  <tr>
    <td><%= link_to 'Show', tolerance %></td>
    <td><%= link_to 'Edit', edit_tolerance_path(tolerance) %></td>
    <td><%= link_to 'Destroy', tolerance, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New tolerance', new_tolerance_path %>