<h1>Editing control_bar</h1>

<% form_for(@control_bar) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @control_bar %> |
<%= link_to 'Back', control_bars_path %>